<!DOCTYPE html>
<html lang="es">
<%- include('components/head.ejs') %>

    <body class="bg-gray-900 font-sans leading-normal tracking-normal">

        <%- include('components/dashboardNavbar.ejs')%>

            <!--Container-->
            <div class="container w-full mx-auto pt-20">

                <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">

                    <!--Console Content-->

                    <div class="flex flex-wrap ">
                        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                            <!--Metric Card-->
                            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                                <div class="flex flex-row items-center">
                                    <div class="flex-shrink pr-4">
                                        <div class="rounded p-3 bg-green-600"><i
                                                class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
                                    </div>
                                    <div class="flex-1 text-right md:text-center">
                                        <h5 class="font-bold uppercase text-gray-400">Multas registradas</h5>
                                        <h3 class="font-bold text-3xl text-gray-600"><%- totalMultas %> <span
                                                    class="text-green-500"><i class="fas fa-caret-up"></i></span></h3>
                                    </div>
                                </div>
                            </div>
                            <!--/Metric Card-->
                        </div>
                        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                            <!--Metric Card-->
                            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                                <div class="flex flex-row items-center">
                                    <div class="flex-shrink pr-4">
                                        <div class="rounded p-3 bg-pink-600"><i
                                                class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
                                    </div>
                                    <div class="flex-1 text-right md:text-center">
                                        <h5 class="font-bold uppercase text-gray-400">nombres</h5>
                                        <h3 class="font-bold text-3xl text-gray-600">249 <span class="text-pink-500"><i
                                                    class="fas fa-exchange-alt"></i></span></h3>
                                    </div>
                                </div>
                            </div>
                            <!--/Metric Card-->
                        </div>

                        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                            <!--Metric Card-->
                            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                                <div class="flex flex-row items-center">
                                    <div class="flex-shrink pr-4">
                                        <div class="rounded p-3 bg-blue-600"><i
                                                class="fas fa-server fa-2x fa-fw fa-inverse"></i></div>
                                    </div>
                                    <div class="flex-1 text-right md:text-center">
                                        <h5 class="font-bold uppercase text-gray-400">Servidor activo</h5>
                                        <h3 class="font-bold text-3xl text-gray-600">152 days</h3>
                                    </div>
                                </div>
                            </div>
                            <!--/Metric Card-->
                        </div>

                    </div>

                    <!--Divider-->
                    <hr class="border-b-2 border-gray-600 my-8 mx-4">

                    <section class="text-white">
                        <!-- formulario para generar registros -->
                        <h1 class="text-2xl font-bold mb-4">
                            Cargar Multas
                        </h1>

                        <form action="/dashboard/multas/create" method="post" id="multaForm">
                            <!-- Fila de Valor, Jurisdicción y Total -->
                            <div class="flex gap-4 mb-4">
                                <div class="">
                                    <label for="multa" class="block font-bold mb-2">Valor de la multa:</label>
                                    <input type="number" id="multa" name="multa"
                                        class=" p-2 border border-gray-300 rounded-md text-black" required>
                                </div>
                                <div class="">
                                    <label for="jurisdiccion" class="block font-bold mb-2">Jurisdicción:</label>
                                    <select name="jurisdiccion" id="jurisdiccion"
                                        class=" p-2 border border-gray-300 rounded-md text-black" required>
                                        <% jurisdicciones.forEach(jurisdiccion=> { %>
                                            <option value="<%= jurisdiccion.porcentaje %>"
                                                data-porcentaje="<%= jurisdiccion.porcentaje %>">
                                                <%= jurisdiccion.nombre %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="w-1/3">
                                    <label for="total" class="block font-bold mb-2">Total:</label>
                                    <input type="number" id="total" name="total" value="0"
                                        class="w-full p-2 border border-gray-300 rounded-md text-black" required>
                                </div>
                            </div>

                            <!-- Fila de Nombre y Apellido -->
                            <div class="flex justify-between mb-4">
                                <div class="w-1/3 mr-4">
                                    <label for="nombre" class="block font-bold mb-2">Nombre:</label>
                                    <input type="text" id="nombre" name="nombre"
                                        class=" p-2 border border-gray-300 rounded-md text-black" required>
                                </div>
                                <div class="w-1/3 mr-4">
                                    <label for="apellido" class="block font-bold mb-2">Apellido:</label>
                                    <input type="text" id="apellido" name="apellido"
                                        class=" p-2 border border-gray-300 rounded-md text-black" required>
                                </div>
                                <div class="w-1/3">
                                    <label for="dni" class="block font-bold mb-2">DNI:</label>
                                    <input type="number" id="dni" name="dni"
                                        class=" p-2 border border-gray-300 rounded-md text-black" required>
                                </div>
                                <div class="w-1/3 mr-4">
                                    <label for="patente" class="block font-bold mb-2">Patente:</label>
                                    <input type="text" id="patente" name="patente"
                                        class=" p-2 border border-gray-300 rounded-md text-black" required>
                                </div>
                            </div>

                            <button type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Guardar
                            </button>
                        </form>

                    </section>
                    <hr class="border-b-2 border-gray-600 my-8 mx-4">

                    <div class="flex flex-row flex-wrap flex-grow mt-2">

                        <div class="w-full p-3">
                            <!--Table Card-->
                            <div class="bg-gray-900 border border-gray-800 rounded shadow">
                                <div class="border-b border-gray-800 p-3">
                                    <h5 class="font-bold uppercase text-white">Multas registradas</h5>
                                </div>
                                <div class="p-5">
                                    <table class="w-full border-collapse text-white">
                                        <thead>
                                            <tr class="bg-gray-600">
                                                <th class="border border-gray-300 px-4 py-2">Multa ID</th>
                                                <th class="border border-gray-300 px-4 py-2">nombre</th>
                                                <th class="border border-gray-300 px-4 py-2">apellido</th>
                                                <th class="border border-gray-300 px-4 py-2">DNI</th>
                                                <th class="border border-gray-300 px-4 py-2">patente</th>
                                                <th class="border border-gray-300 px-4 py-2">fecha</th>
                                                <th colspan="2" class="border border-gray-300 px-4 py-2">Opciones</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% multas.forEach(multa=> { %>
                                                <tr>
                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <%= multa.id %>
                                                    </td>
                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <%= multa.nombre %>
                                                    </td>

                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <%= multa.apellido %>
                                                    </td>


                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <%= multa.dni %>

                                                    </td>
                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <%= multa.patente %>
                                                    </td>
                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <%= multa.fecha %>
                                                    </td>
                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <a href="#"
                                                            class="text-blue-500 hover:text-blue-600 edit-button"
                                                            data-id="<%= multa.id %>" 
                                                            data-nombre="<%= multa.nombre %>"
                                                            data-apellido="<%= multa.apellido %>"
                                                            data-dni="<%= multa.dni %>"
                                                            data-patente="<%= multa.patente %>"
                                                            data-multa="<%= multa.monto %>"
                                                            data-jurisdiccion="<%= multa.descuento %>">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    </td>
                                                    <td class="border border-gray-300 px-4 py-2">
                                                        <a href="/dashboard/multas/delete/<%= multa.id %>"
                                                            class="text-red-500 hover:text-red-600 delete-button"
                                                            data-id="<%= multa.id %>">
                                                            <i class="fas fa-trash "></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>

                                    <!-- Modal -->
                                    <div id="editModal"
                                        class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
                                        <div class="bg-white p-6 rounded-lg w-full max-w-lg">
                                            <h2 class="text-lg font-bold mb-4">Editar Multa</h2>
                                            <form id="editForm">
                                                <input type="hidden" id="editId" name="id">

                                                <div class="flex flex-row justify-between mt-2">
                                                    <div class="mb-4">
                                                        <label for="editNombre"
                                                            class="block font-bold mb-2">Nombre:</label>
                                                        <input type="text" id="editNombre" name="nombre"
                                                            class="w-full p-2 border rounded">
                                                    </div>

                                                    <div class="mb-4">
                                                        <label for="editApellido"
                                                            class="block font-bold mb-2">Apellido:</label>
                                                        <input type="text" id="editApellido" name="apellido"
                                                            class="w-full p-2 border rounded">
                                                    </div>
                                                </div>


                                                <div class="flex flex-row justify-between mt-2">
                                                    <div class="mb-4">
                                                        <label for="editDni" class="block font-bold mb-2">DNI:</label>
                                                        <input type="number" id="editDni" name="dni"
                                                            class="w-full p-2 border rounded">
                                                    </div>

                                                    <div class="mb-4">
                                                        <label for="editPatente"
                                                            class="block font-bold mb-2">Patente:</label>
                                                        <input type="text" id="editPatente" name="patente"
                                                            class="w-full p-2 border rounded">
                                                    </div>
                                                </div>

                                                <div class="flex flex-row justify-between mt-2">
                                                    <div class="mb-4">
                                                        <label for="editMulta"
                                                            class="block font-bold mb-2">Monto:</label>
                                                        <input type="number" id="editMulta" name="multa"
                                                            class="w-full p-2 border rounded">
                                                    </div>

                                                    <div class="mb-4">
                                                        <label for="editJurisdiccion"
                                                            class="block font-bold mb-2">Jurisdicción:</label>
                                                        <input type="number" id="editJurisdiccion" name="jurisdiccion"
                                                            class="w-full p-2 border rounded">
                                                    </div>
                                                </div>


                                                <div class="flex justify-around">
                                                    <button type="button" id="cancelEdit"
                                                        class="px-4 py-2 bg-gray-500 text-white rounded mr-2">Cancelar</button>
                                                    <button type="submit"
                                                        class="px-4 py-2 bg-blue-500 text-white rounded">Guardar
                                                        Cambios</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--/table Card-->
                        </div>


                    </div>

                    <!--/ Console Content-->

                </div>


            </div>
            <!--/container-->

            <%- include('components/footer.ejs') %>


                <script src="/js/scripts.js"></script>
                <script src="/js/multasHandler.js"></script>

    </body>

</html>